[Unit]
Description=Rest
After=network.target

[Service]
WorkingDirectory=/var/www/ResT/backend
# ExecStart=/var/www/ResT/backend/.venv/bin/gunicorn --workers 1 --bind unix:/var/www/ResT/backend/backend.sock root.wsgi:application
ExecStart=/var/www/ResT/backend/.venv/bin/gunicorn --workers 1 --bind 0.0.0.0:8000 root.wsgi:application

[Install]
WantedBy=multi-user.target

