[Unit]
Description=Flower Celery Service

[Service]
User=root
WorkingDirectory=/var/www/samariddins_project/project1/backend
EnvironmentFile=/var/www/samariddins_project/project1/backend/.env
ExecStart=/var/www/samariddins_project/project1/backend/.venv/bin/celery -A root.celery.app flower --port=$FLOWER_PORT
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
